/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #e9eef5;
    padding: 20px;
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a.active {
    background-color: #d0dae8;
    padding: 10px;
    border-radius: 5px;
}

.main-content {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subtext {
    color: #6c757d;
    margin-bottom: 20px;
}

.download-section, .upload-section {
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-grey {
    background-color: #e2e6ea;
    color: #333;
    margin-right: 10px;
}

.btn-blue {
    background-color: #007bff;
    color: #fff;
}

.file-input {
    display: inline-block;
    width: calc(100% - 90px);
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-upload {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
}

/* Footer Styling */
.footer {
    background: #ecd8e9;
    color: #000000;
    padding: 30px 0px;
    text-align: center;
	
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 200px;
    margin: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-media li a {
    color: #000000;
}
.footer-column ul.social-media {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0;
}

.footer-column ul.social-media li {
    display: inline-block;
}
.footer-column ul.social-media li a i {
    font-size: 40px;
}



/* Footer Bottom */
.footer-bottom {
    border-top: 1px solid rgba(0,0,0,0.9);
    padding-top: 15px;
    margin-top: 20px;
}